{% extends "page_base_generic.html" %}

{% load humanize %}

{% block title %}สิทธิการลา{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">สิทธิการลา ปี 2020</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">หน้าแรก</a></li>
              <li class="breadcrumb-item active">ระบบลางาน</li>
              <li class="breadcrumb-item">สิทธิการลา</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">
                {% if leave_policy %}
                <table class="table table-striped">
                  <thead>
                    <tr>                  
                      <th scope="col">ประเภทการลา</th>
                      <th scope="col">จำนวนวัน</th>
                    </tr>
                  </thead>
                  <tbody>   
                  {% for policy in leave_policy %}
                <tr>
                  <td>{{ policy.lve_th }}</td>
                  <td>
                    <button type="button" class="btn btn-primary">
                      ใช้ได้&nbsp;&nbsp;{{policy.lve_plan}}
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success">
                      คงเหลือ&nbsp;&nbsp;{{policy.lve_miss}}
                    </button>                                          
                  </td>
                </tr>                  
                  {% endfor %}
                  </tbody>
                </table>

                {% else %}
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;สิทธิวันลาของคุณยังไม่ได้สร้างไว้ในระบบ กรุณาสอบถามข้อมูลจากฝ่ายบุคคล
                </div>                                     
                {% endif %}           
          </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
