{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'img/logo-small.png' %}" alt="ATOM Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"><img src="{% static 'img/logo-big.png' %}" width="150px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            {% if request.path == "/" %}
            <a href="/" class="nav-link active">
            {% else %}
            <a href="/" class="nav-link">
            {% endif %}
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>     

          <li class="nav-item has-treeview">
            {% if request.path|slice:":6" == '/leave' %}
            <a href="#" class="nav-link active">
            {% else %}
            <a href="#" class="nav-link">
            {% endif %}
            
              <i class="nav-icon fa fa-plane"></i>
              <p>
                ระบบลางาน
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% if request.path == "/leave/employee/create/" %}
                <a href="{% url 'employee_create' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'employee_create' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>เขียนใบลา</p>
                </a>
              </li>
              <li class="nav-item">
                {% if request.path == "/leave/leave-policy/" %}
                <a href="{% url 'leave_policy' %}" class="nav-link active">
                {%else %}
                <a href="{% url 'leave_policy' %}" class="nav-link">
                    {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>สิทธิการลา</p>
                </a>
              </li>              
              <li class="nav-item">
                {% if request.path == "/leave/leave-history/" %}
                <a href="{% url 'leave_history' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_history' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>ประวัติการลา</p>
                </a>
              </li>
              {% if perms.leave.approve_leaveplan %}
              <li class="nav-item">
                {% if request.path == "/leave/leave-approval/" %}
                <a href="{% url 'leave_approval' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'leave_approval' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>อนุมัติใบลา</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>

          {% if perms.contract.view_tclcontractqty %}
          <li class="nav-item has-treeview">
            {% if request.path|slice:":10" == '/contract/' %}
            <a href="#" class="nav-link active">
            {% else %}
            <a href="#" class="nav-link">
            {% endif %}
              <i class="nav-icon fas fa-user"></i>
              <p>
                ระบบลูกค้าและสัญญา
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% if request.path == "/contract/contract-list/" %}
                <a href="{% url 'contract-list' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'contract-list' %}" class="nav-link">
                {% endif %}
                  &nbsp;&nbsp;<i class="fa fa-check nav-icon"></i>
                  <p>รายการสัญญา</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>